<div id="wrapper">
  <h2>Register a restaurant</h2>
  <form id="form" (submit)="addEats()">
    <div class="form-group">
      <label for="name">Restaurant name:</label>
      <p style="color: red;"><strong>{{error}}</strong> </p>
      <input [(ngModel)]="newEat.name" name="name" required minlength="3" #name="ngModel" type="text" class="form-control" id="name" autocomplete="off">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Restaurant names is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Restaurant names must be at least 3 characters long.
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="type">Cuisine:</label>
      <input [(ngModel)]="newEat.cuisine" name="cuisine" required minlength="3" #cuisine="ngModel"  type="text" class="form-control" id="cuisine" autocomplete="off">
      <div *ngIf="cuisine.invalid && (cuisine.dirty ||cuisine.touched)" class="alert alert-danger">
          <div *ngIf="cuisine.errors.required">
            Cuisine is required.
          </div>
          <div *ngIf="cuisine.errors.minlength">
            Cuisine must be at least 3 characters long.
          </div>
        </div>
    </div>
    <div id="btn">
    <button type="submit" class="btn btn-primary">Register</button>
    <button (click)="getHome()" type="button" class="btn btn-primary">Cancel</button>
    </div>
  </form>
</div>